/.bash_history
/.bash_logout
/.bashrc
/.cache
/.cargo
/.cassini
/.config
/.dotnet
/.gitconfig
/.gz
/.local
/.motd_shown
/.profile
/.ros
/.rustup
/.rviz2
/.sdformat
/.ssh
/.sudo_as_admin_successful
/.vscode
/.vscode-server
/cube.obj